body {
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 500px;
}

.content {
    max-width: 500px;
    margin: auto;
}

table, th {
    width: 100%;
    border: 1px solid;
    text-align: center;
}

td {
    text-align: center;
}

input {
    width: 40px;
}
